<p>To use the service you need to login.</p>
<br>
<p>If you do not have an account yet, you can register for free.</p>
<br>
<%= link_to "REGISTER", new_user_registration_path, class: "button is-medium is-outlined is-primary" %>